<!-- home.html -->
<div id="home" ng-controller="homeController">
	<div class="header">
		<div class="container header-text">
			<div class="row">
				<div class="col-md-6">

        			<h2>FlipFinancial helps you keep track of your daily transactions.</h2>
        			<h4><i class="fa fa-android" aria-hidden="true"></i> Google Play</h4>
   		    	</div>
   		    	<div class="col-md-2"></div>
   		    	<div class="col-md-4">

   		    		<img src="../imgs/android-transaction.png" width="338">
   		    	</div>
    		</div>
    	</div>
    </div>

    <div class="appinfo">
		<div class="container header-text">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-6">
        			<img class="img-responsive" src="../imgs/donutchart.png" width="450" >
   		    	</div>
   		    	
   		    	<div class="col-md-4">
   		    		
   		    		<h3>Chartastic !</h3>
   		    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ullamcorper fringilla purus, eu fermentum lacus iaculis in. Nulla dignissim massa ut fermentum mattis. Etiam laoreet suscipit nisl, sed blandit lacus consectetur ac.</p>
   		    	</div>
    		</div>
    	</div>
    </div>
 </div>